/* ========= Обнуление и общие настройки ========== */
@import "null.css";

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

/* ========= Main ========== */

.container {
   max-width: 1000px;
   height: 100%;
   margin: 0 auto;
}

.main-title-1 {
   font-family: 'Lato', Arial, Helvetica, sans-serif;
   font-weight: 700;
   font-style: normal;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #1E212C;
   margin-bottom: 22px;
}

.main-title-2 {
   font-family: 'Lato', Arial, Helvetica, sans-serif;
   font-weight: 900;
   font-style: normal;
   font-size: 46px;
   line-height: 1.3;
   color: #1E212C;
   margin-bottom: 58px;
}

.main-list {
   text-align: left;
   max-width: 390px;
   height: 100%;
   margin-bottom: 37px;
}

.main-list-item {
   font-family: 'Lato', Arial, Helvetica, sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   line-height: 1.6;
   color: #424551;
   margin-bottom: 12px;
   background: url(../img/check.png) left 5px / 16px 16px no-repeat;
   padding: 0px 0px 0px 25px;
}

.main-button {
   display: inline-block;
   width: 161px;
   height: 44px;
   border-radius: 4px;
   padding: 0 32px 0 32px;
   background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
   font-family: 'Lato', Arial, Helvetica, sans-serif;
   font-weight: 700;
   font-style: normal;
   font-size: 14px;
   line-height: 3.14;
   margin-bottom: 30px;
   text-align: center;
   letter-spacing: 0.5px;
   color: #FFFFFF;
}

/* ========= Footer ========== */

.footer-title {
   font-family: 'Taviraj', Arial, Helvetica, sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   color: #333333;
}

.footer-title::after {
   content: "";
   display: block;
   width: 65px;
   height: 0px;
   border: 1px solid #333333;
   margin-top: 8px;
}







