/* ========= Обнуление и общие настройки ========== */
@import "null.css";

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

body {
   font-family: 'El Messiri', Arial, sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 20px;
   background: url(../img/img_bg.jpg) center /cover no-repeat fixed;
}

/* === Шрифты: El Messiri: 400, 700; Kurale: 400 === */

/* ========= Header ========== */

.container {
   max-width: 1000px;
   height: 100%;
   margin: 0 auto;
   margin-top: 50px;
   background-color: rgb(235, 215, 196);
   border: 3px solid orange;
   border-radius: 20px;
}

.container > *:last-child {
   margin-bottom: 0;
}

.header {
   width: 100%;
   min-height: 100px;
   margin-bottom: 50px;
   padding: 10px;
   border-bottom: 3px solid orange;
}

.main-article-title {
   display: inline-block;
   height: 100%;
   margin-top: 35px;
   font-weight: 700;
   font-size: 50px;
   color: rgb(230, 156, 21);
}

.main-article-title:hover {
   cursor: default;
}

/* ========= Habitat ========== */

.section-1-habitat {
   text-align: center;
   width: 100%;
   height: 100%;
   margin-bottom: 50px;
}

.section-1-habitat:last-child {
   margin-bottom: 0;
}

.title1::before {
   content: "";
   width: 25px;
   height: 25px;
   display: inline-block;
   background: url(../img/img_icogeraffa.png) 0 0 / cover no-repeat;
   margin-right: 5px;
   margin-bottom: -2px;
}

.title1:hover::before {
   transform: scale(1.3);
}

.title2::before {
   content: "";
   width: 25px;
   height: 25px;
   display: inline-block;
   background: url(../img/img_icoelef.png) 0 0 / cover no-repeat;
   margin-bottom: -5px;
   margin-right: 5px;
}

.title2:hover::before {
   transform: scale(1.3);
}

.title3::before {
   content: "";
   width: 25px;
   height: 20px;
   display: inline-block;
   background: url(../img/img_icorhino.png) 0 0 / cover no-repeat;
   margin-right: 5px;
}

.title3:hover::before {
   transform: scale(1.3);
}

.title4::before {
   content: "";
   width: 25px;
   height: 25px;
   display: inline-block;
   background: url(../img/img_leoico.png) 0 0 / cover no-repeat;
   margin-bottom: -5px;
   margin-right: 5px;
}

.title4:hover::before {
   transform: scale(1.3);
}

.title5::before {
   content: "";
   width: 25px;
   height: 25px;
   display: inline-block;
   background: url(../img/img_icocobra.png) 0 0 / cover no-repeat;
   margin-bottom: -5px;
   margin-right: 5px;
}

.title5:hover::before {
   transform: scale(1.3);
}

.section-1-habitat-subblock {
   display: inline-block;
   max-width: 500px;
   height: 100%;
   border: 3px solid orange;
   border-radius: 20px;
   padding: 10px;
   text-align: justify;
   background-color: rgb(236, 220, 166);
   box-shadow: inset 0 0 20px 1px rgba(255, 166, 0, 0.404);
}

.habitat-title {
   text-align: center;
   margin-bottom: 10px;
   font-size: 25px;
   color: orange;
}

.habitat-title h2 {
   display: inline-block;
}

.habitat-title h2:hover {
   cursor: default;
}

.section-1-habitat-subblock p {
   font-family: 'Kurale', Arial, Helvetica, sans-serif;
   font-weight: 400;
   color: rgb(177, 134, 54);
   margin-bottom: 10px;
}

.section-1-habitat-subblock > *:last-child {
   margin-bottom: 0;
}

.section-1-habitat-subblock p:hover {
   cursor: default;
}

.section-1-habitat-subblock-2 {
   display: inline-block;
   max-width: 500px;
   height: 100%;
   margin-left: 80px;
}

.section-1-habitat-subblock-2 h2 {
   color: orange;
}

.section-1-habitat-subblock-2 h2:hover {
   text-decoration: underline;
}

.section-1-habitat-subblock-2 h2:active {
   color: rgb(136, 100, 34);
}

.section-1-habitat-subblock-2 img {
   border-radius: 20px;
   display: none;
}

.section-1-habitat-subblock-2 img:target {
   display: inline-block;
}

/* ========= Gallery ========== */

.section-2-gallery {
   text-align: center;
   margin-bottom: 50px;
}

.btn {
   display: inline-block;
}

.gallery-btn {
   width: 100px;
   height: 50px;
   background-color: orange;
   border-radius: 20px;
   outline: 2px solid white;
   box-shadow: 0 11px 0 0 orange;
   padding: 15px;
}

.gallery-btn span {
   color: rgb(177, 134, 54);
   font-size: 18px;
}

.gallery-btn:hover {
   box-shadow: 0 8px 0 0 orange;
}

.gallery-btn:active {
   box-shadow: inset 0 0 5px 0 rgb(255, 238, 0);
}

.gallery-btn:visited {
   background-color: rgb(240, 209, 72);
}

.image-btns {
   margin-bottom: 20px;
}

.images img {
   border-radius: 50%;
   outline: 3px solid orange;
   margin: 0 5px;
}

.images2 img {
   border-radius: 50%;
   outline: 3px solid orange;
   margin: 0 5px;
}

.images3 img {
   border-radius: 50%;
   outline: 3px solid orange;
   margin: 0 5px;
}

.images img:nth-child(even) {
   border-radius: 20px;
}

.images2 img:nth-child(odd) {
   border-radius: 20px;
}

.images3 img:nth-child(n+3) {
   border-radius: 20px;
}

.images {
   display: none;
}

.images:target {
   display: inline-block;
}

.images2 {
   display: none;
}

.images2:target {
   display: inline-block;
}

.images3 {
   display: none;
}

.images3:target {
   display: inline-block;
}

/* ========= Nature ========== */

.section-3-nature {
   width: 100%;
   height: 100%;
   text-align: center;
   margin-bottom: 30px;  
}

.section-3-nature h3 {
   font-size: 30px;
   font-weight: 700;
   font-style: normal;
   margin-bottom: 30px;
   color: rgb(230, 156, 21);
}

.section-3-nature img {
   width: 800px;
   border-radius: 20px;
   outline: 3px solid orange;
   margin-bottom: 30px;
}

.nature-about {
   text-align: justify;
   padding: 10px;
   border: 3px solid orange;
   border-radius: 20px;
   background-color: rgb(236, 220, 166);
   box-shadow: inset 0 0 20px 1px rgba(255, 166, 0, 0.404);
   margin: 0 10px;
}

.nature-about p {
   font-family: 'Kurale', Arial, Helvetica, sans-serif;
   margin-bottom: 10px;
   text-indent: 10px;
   color: rgb(177, 134, 54);
}

.nature-about p::first-letter {
   font-size: 45px;
   color: coral;
}

.nature-about > *:last-child {
   margin-bottom: 0;
}

.section-2-gallery::after {
   content: "";
   display: inline-block;
   width: 100%;
   height: 3px;
   background-color: orange;
   margin-top: 30px;
}

/* ========= Footer ========== */

.footer {
   width: 100%;
   height: 50px;
   text-align: center;
   background-color: orange;
   border-radius: 0 0 10px 10px;
}

.figma-btn {
   width: 200px;
   height: 30px;
   display: inline-block;
   border-radius: 20px;
   background-color: rgb(236, 220, 166);
   outline: 3px solid white;
   padding: 7px 0;
   margin-top: 15px;
   color: orange;
}

.figma-btn:visited {
   color: rgb(221, 172, 80);
}